@import "../../common/scss/colors";
@import "../../common/scss/fonts";
@import "../../common/scss/global";

.profile-page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
}
