$kerbb-color-main: #4e21e7;
$kerbb-color-side: #6e44ff;
$kerbb-color-light: #e8e7ff;
$kerbb-color-dark: #0c082f;

$kerbb-color-success: #388e3c;
$kerbb-color-error: #c1121f;
$kerbb-color-warning: #ff7800;

$kerbb-color-main-rgb: 78, 33, 231;
$kerbb-color-side-rgb: 110, 68, 255;
$kerbb-color-light-rgb: 232, 231, 255;
$kerbb-color-dark-rgb: 12, 8, 47;
