@import "../../common/scss/colors";
@import "../../common/scss/fonts";
@import "../../common/scss/global";

.tags-types-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .breadcrumbs-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
