@import "../../../common/scss/colors";
@import "../../../common/scss/fonts";
@import "../../../common/scss/global";

.password-update-page-container {
  max-height: 90vh;
  overflow-y: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  .password-update-page-header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .password-update-page-header {
      color: $kerbb-color-dark;
      opacity: 0.5;
    }
  }
  .password-update-page-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    .password-update-page-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      .old-password-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .old-password-icon-container {
          color: $kerbb-color-dark;
          opacity: 0.9;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
          &:active {
            opacity: 1;
          }
        }
      }
      .new-password-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .new-password-icon-container {
          color: $kerbb-color-dark;
          opacity: 0.9;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
          &:active {
            opacity: 1;
          }
        }
      }
      .new-password-again-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .new-password-again-icon-container {
          color: $kerbb-color-dark;
          opacity: 0.9;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
          &:active {
            opacity: 1;
          }
        }
      }
    }
    .password-update-page-form-button-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
