@import "../../common/scss/colors";
@import "../../common/scss/fonts";
@import "../../common/scss/global";

.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
